.app {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: auto;
}

.images {
    width: 100%;
}

.change-image-button {
    width: 40%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(11,169,206);
    background-color: rgb(152,194,47);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.change-image-button:hover{
    border-color: rgb(127, 158, 48);
}

.change-image-button:active{
    border-color: rgb(175, 225, 50);
}